<!-- <div <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false" *ngIf="token">
    <mat-toolbar color="primary">Menu</mat-toolbar>


    <div class="contenedor">
      <mat-card class="tarjeta" *ngIf="token">
        <mat-card-header>
          mat-card-avatar></div> 
          <mat-card-title>{{token.nombre}}</mat-card-title>


        </mat-card-header>

      </mat-card>
    </div>


    <mat-nav-list>
      <mat-accordion class="example-headers-align">
        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header [routerLink]="['home']" (click)="closeSideNav()">
            <mat-icon>home</mat-icon><span>Home</span>
          </mat-expansion-panel-header>
          <mat-panel-description>


          </mat-panel-description>

        </mat-expansion-panel>
        <mat-expansion-panel #recibo (mouseenter)="recibo.open()" (mouseleave)="recibo.close()">
          <mat-expansion-panel-header>

            <mat-icon>filter_none</mat-icon><span>Recibo</span>
          </mat-expansion-panel-header>
          <mat-panel-description>

            <mat-nav-list dense>

              <a mat-list-item [routerLink]="['recibo']" (click)="closeSideNav()">
                <mat-icon matListIcon>filter_none</mat-icon> <span>Recibo</span>
              </a>

              <a mat-list-item [routerLink]="['concepto']" (click)="closeSideNav()">
                <mat-icon matListIcon>location_city</mat-icon> <span>Concepto</span>
              </a>
              <a mat-list-item [routerLink]="['tipoconcepto']" (click)="closeSideNav()">
                <mat-icon matListIcon>location_city</mat-icon> <span>Tipo Concepto</span>
              </a>

            </mat-nav-list>
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel #panel (mouseenter)="panel.open()" (mouseleave)="panel.close()">
          <mat-expansion-panel-header>
            <mat-icon>monetization_on</mat-icon><span>Pago</span>
          </mat-expansion-panel-header>
          <mat-panel-description>
            <mat-nav-list dense>
              <a mat-list-item [routerLink]="['propietario']" (click)="closeSideNav()">
                <mat-icon matListIcon>people</mat-icon> <span>Propietarios</span>
              </a>
              <a mat-list-item [routerLink]="['pago']" (click)="closeSideNav()">
                <mat-icon matListIcon>location_city</mat-icon> <span>Pago por confirmar</span>
              </a>
            </mat-nav-list>
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel #print hideToggle>
          <mat-expansion-panel-header [routerLink]="['print']" (click)="closeSideNav()">
            <mat-icon>print</mat-icon><span>Print</span>
          </mat-expansion-panel-header>
         
        </mat-expansion-panel>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header (click)="onLogouton();">
            <mat-icon>exit_to_app</mat-icon><span>Salir</span>
          </mat-expansion-panel-header>
          <mat-panel-description>


          </mat-panel-description>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-list-item  (click)="closeSideNav()">

              <a mat-list-item [routerLink]="['tipoconcepto']"><mat-icon matListIcon>location_city</mat-icon> <span>Tipo Concepto</span> </a>
            </mat-list-item>  -->
      <!--  <mat-list-item  (click)="closeSideNav()">

              <a mat-list-item [routerLink]="['concepto']"><mat-icon matListIcon>location_city</mat-icon> <span>Concepto</span> </a>
            </mat-list-item>  -->
      <!--  <mat-list-item  (click)="closeSideNav()">
            
                <a mat-list-item [routerLink]="['recibo']"><mat-icon matListIcon>filter_none</mat-icon> <span>Recibo</span> </a>
              </mat-list-item>  -->

      <!--  <mat-list-item  (click)="closeSideNav()">
              
                <a mat-list-item [routerLink]="['/cargo']"><mat-icon matListIcon>business</mat-icon><span>Cargos</span></a>
            </mat-list-item> 
            <mat-list-item  (click)="closeSideNav()">
               
                <a mat-list-item [routerLink]="['/calendario']"><mat-icon matListIcon>calendar_today</mat-icon><span>Calendario</span></a>
            </mat-list-item> 
            <mat-list-item  (click)="closeSideNav()">
             
                <a mat-list-item [routerLink]="['/reportes']"> <mat-icon matListIcon>print</mat-icon><span>Print</span></a>
            </mat-list-item> 

    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content> -->


   
  <!--</mat-sidenav-content>

</mat-sidenav-container>-->