<div class="container">
  <div class="row">
    <div class="col-6" style="text-align:left;">

      <mat-form-field class="example-full-width">
        <mat-label>Paciente</mat-label>
        <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="buscar(myControl)">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{option.name}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="col-6" style="text-align:right;">
      <button class="btn btn-outline-success my-2 my-sm-0" (click)="edit()">Nuevo Paciente</button>
    </div>

  </div>
</div>

<div class="contenedor">
  <mat-drawer-container class="example-container" *ngIf="cliente && myControl">
    <mat-drawer mode="side" opened>

      <mat-nav-list>
        <a mat-list-item [routerLink]="['/paciente/datos2',cliente]">Datos Personales</a>
        <a mat-list-item [routerLink]="['/paciente/imagenes',cliente]">Imagenes y archivos</a>
        <a mat-list-item [routerLink]="['/paciente/planes',cliente]">Planes de tratamiento</a>
        <a mat-list-item [routerLink]="['/paciente/odontograma',cliente]">Odontograma actual</a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>

      <router-outlet></router-outlet>

    </mat-drawer-content>
  </mat-drawer-container>





</div>